autom4te.cache
Makefile.in
aclocal.m4
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
env.source
# In case someone configures in the source tree:
.deps
.libs
Makefile
libcwds*.la
*.lo
*.o
